Camera_data/train_data/ camara9.bmp
Camera_data/train_data/camara 18.bmp
Camera_data/train_data/camara1.bmp
Camera_data/train_data/camara2.bmp
Camera_data/train_data/camara3.bmp
Camera_data/train_data/camara5.bmp
Camera_data/train_data/camara4.bmp
Camera_data/train_data/camara7.bmp
Camera_data/train_data/camara6.bmp
Camera_data/train_data/camara8.bmp
Camera_data/train_data/camara10.bmp
Camera_data/train_data/camara11.bmp
Camera_data/train_data/camara12.bmp
Camera_data/train_data/camara13.bmp
Camera_data/train_data/camara14.bmp
Camera_data/train_data/camara15.bmp
Camera_data/train_data/camara16.bmp
Camera_data/train_data/camara17.bmp
.vscode/c_cpp_properties.json
.vscode/launch.json
.vscode/tasks.json
.vscode/settings.json
Camera_data/umbral.txt
Camera_data/weight_data.txt
a.exe
edge.bmp
write_path.cpp
__astcache
Win32
__history
__astcache
Project1.cbproj.local
Project1PCH1.h

Inv_proj1.cbproj
Inv_proj1.cbproj.local
__recovery/__recovery.ini
